@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Hubert Stärk<br />
    Aussichtsweg 21<br />
	93138 Lappersdorf<br />
</address>

<address>
	<a href="mailto:hubert.staerk@gmail.com">hubert.staerk@gmail.com</a>
	<br />
</address>